.p-0 {
  padding: 0rem !important;
}

.m-0 {
  margin: 0rem !important;
}

.p-4 {
  padding: 0.25rem !important;
}

.m-4 {
  margin: 0.25rem !important;
}

.m-n4 {
  margin: -0.25rem !important;
}

.p-8 {
  padding: 0.5rem !important;
}

.m-8 {
  margin: 0.5rem !important;
}

.m-n8 {
  margin: -0.5rem !important;
}

.p-16 {
  padding: 1rem !important;
}

.m-16 {
  margin: 1rem !important;
}

.m-n16 {
  margin: -1rem !important;
}

.p-32 {
  padding: 2rem !important;
}

.m-32 {
  margin: 2rem !important;
}

.m-n32 {
  margin: -2rem !important;
}

[class*="p-["],
[class*="m-["] {
  --val: 0;
}

/* Padding (all sides) */
[class*="p-["] {
  padding: var(--val) !important;
}

/* Padding X/Y */
[class*="px-["] {
  padding-left: var(--val) !important;
  padding-right: var(--val) !important;
}

[class*="py-["] {
  padding-top: var(--val) !important;
  padding-bottom: var(--val) !important;
}

/* Padding individual sides */
[class*="pt-["] {
  padding-top: var(--val) !important;
}

[class*="pr-["] {
  padding-right: var(--val) !important;
}

[class*="pb-["] {
  padding-bottom: var(--val) !important;
}

[class*="pl-["] {
  padding-left: var(--val) !important;
}

/* Margins */
[class*="m-["] {
  margin: var(--val) !important;
}

[class*="mx-["] {
  margin-left: var(--val) !important;
  margin-right: var(--val) !important;
}

[class*="my-["] {
  margin-top: var(--val) !important;
  margin-bottom: var(--val) !important;
}

[class*="mt-["] {
  margin-top: var(--val) !important;
}

[class*="mr-["] {
  margin-right: var(--val) !important;
}

[class*="mb-["] {
  margin-bottom: var(--val) !important;
}

[class*="ml-["] {
  margin-left: var(--val) !important;
}

h1 {
  font-size: 3.375rem;
  line-height: 4.375rem;
  font-weight: 600;
  color: var(--primary);
}
@media (max-width: 1199.98px) {
  h1 {
    font-size: 3rem;
    line-height: 3.75rem;
    font-weight: 400;
  }
}
@media (max-width: 767.98px) {
  h1 {
    font-size: 2.25rem;
    line-height: 3.125rem;
    font-weight: 400;
  }
}

h2 {
  font-size: 2.625rem;
  line-height: 3.125rem;
  font-weight: 400;
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.625rem;
    font-weight: 400;
  }
}
@media (max-width: 767.98px) {
  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 400;
  }
}
@media (max-width: 575.98px) {
  h2 {
    font-size: 1.625rem;
    line-height: 2rem;
    font-weight: 400;
  }
}

h3 {
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 400;
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
  }
}
@media (max-width: 767.98px) {
  h3 {
    font-size: 1.375rem;
    line-height: 1.875rem;
    font-weight: 400;
  }
}

h4 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}

h5 {
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 400;
}
@media (max-width: 575.98px) {
  h5 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}

h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.body1 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.body2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.caption {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

:root {
  --primary: #60B8CC;
  --primary-hover: #3f94a7;
  --primary-light: #E4EFF2;
  --white: #ffffff;
  --primary2: #0D2954;
  --black: #333333;
  --color666666: #666666;
  --red: #E41F18;
  --font: "Outfit", sans-serif;
  --transition-ease: all 200ms ease-in-out;
  --transition-cub: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  --headerHeight: 5.75rem;
}
@media (max-width: 991.98px) {
  :root {
    --headerHeight: 4rem;
  }
}

/* Controls
--------------------------------------------------------------------------------------------------------*/
.btn {
  border: 0.0625rem solid transparent !important;
  outline: none !important;
  box-shadow: none !important;
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.8125rem 1rem;
}
.btn.btn-primary {
  --bs-btn-bg: var(--primary);
  --bs-btn-color: var(--white);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--white);
  --bs-btn-hover-border-color: var(--primary-hover);
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--white);
  --bs-btn-active-border-color: var(--primary-hover);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg: var(--primary);
  --bs-btn-disabled-border-color: var(--primary);
  z-index: 1;
}
.btn.btn-primary::after, .btn.btn-primary::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: var(--primary-hover);
  z-index: -1;
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
  color: var(--primary);
}
.btn.btn-primary::before {
  opacity: 0.5;
}
.btn.btn-primary::after {
  transition-delay: 0.2s;
}
.btn.btn-primary:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.btn.btn-primary:hover::before, .btn.btn-primary:hover::after, .btn.btn-primary:focus::before, .btn.btn-primary:focus::after, .btn.btn-primary:active::before, .btn.btn-primary:active::after {
  bottom: 0;
}
.btn.btn-primary:has(img) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
}
.btn.size-lg {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 0.75rem 2.25rem;
}
@media (max-width: 1199.98px) {
  .btn.size-lg {
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 0.75rem 1.5rem;
  }
}
.btn.size-sm {
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding: 0.5rem 1rem;
}
.btn.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5625rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.btn.btn-icon img {
  width: 1.5rem;
  height: 1.5rem;
}
.btn.btn-icon.size-lg {
  padding: 0.625rem;
  width: 3.375rem;
  height: 3.375rem;
}
.btn.btn-icon.size-lg img {
  width: 1.75rem;
  height: 1.75rem;
}
.btn.btn-icon.size-sm {
  padding: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
}
.btn.btn-icon.size-sm img {
  width: 1.25rem;
  height: 1.25rem;
}
.btn.btn-icon.btn-text {
  background: none;
  border: none !important;
}
.btn.btn-icon.btn-text::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 2.1875rem;
  transform: scale(0);
  transition: var(--transition-ease);
  background: rgba(0, 161, 155, 0.1);
}
.btn.btn-icon.btn-text:hover::before {
  transform: scale(1);
}
.btn.btn-text.tab-btn {
  background: none;
  border: none !important;
  --bs-btn-bg: var(--white);
  border-radius: 35px;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--color666666);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1399.98px) {
  .btn.btn-text.tab-btn {
    font-size: 1.375rem;
    line-height: 1.75rem;
    padding: 0.625rem 1rem;
  }
}
@media (max-width: 575.98px) {
  .btn.btn-text.tab-btn {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 0.375rem 0.625rem;
  }
}
.btn.btn-text.tab-btn:hover {
  color: var(--primary);
}
.btn.btn-text.tab-btn.active {
  --bs-btn-active-bg: var(--primary);
  font-weight: 500;
  color: var(--white);
  background: var(--primary);
}

/* Grid gutters
--------------------------------------------------------------------------------------------------------*/
.g-32p {
  --bs-gutter-x: 2rem !important;
  --bs-gutter-y: 2rem !important;
}
@media (max-width: 991.98px) {
  .g-32p {
    --bs-gutter-x: 1rem !important;
    --bs-gutter-y: 1rem !important;
  }
}

/* Header
--------------------------------------------------------------------------------------------------------*/
.logo {
  display: inline-block;
  vertical-align: middle;
}
.logo img {
  display: block;
  width: auto;
  height: 3rem;
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .logo img {
    height: 2.5rem;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  background: var(--white);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1019607843);
  min-height: var(--headerHeight);
  transition: var(--transition-cub);
  z-index: 2;
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  header {
    padding: 0.5rem 0;
  }
}
header .logo img {
  height: 3.75rem;
  transition: var(--transition-cub);
}
@media (max-width: 1199.98px) {
  header .logo img {
    height: 3rem;
  }
}
@media (max-width: 991.98px) {
  header .logo img {
    height: 2.5rem;
  }
}
header .main-navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.625rem;
}
header .main-navigation ul .nav-link {
  background: none;
}
header .main-navigation ul .nav-link .nav-item {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--primary2);
  text-decoration: none;
  padding: 0.5rem 0.625rem;
  border-radius: 0.25rem;
  transition: var(--transition-ease);
  background: none;
  position: relative;
}
@media (max-width: 1199.98px) {
  header .main-navigation ul .nav-link .nav-item {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
header .main-navigation ul .nav-link .nav-item::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0.5rem;
  right: 100%;
  height: 0.125rem;
  background: var(--primary);
  transition: var(--transition-ease);
  z-index: 0;
  opacity: 0.5;
}
header .main-navigation ul .nav-link .nav-item:hover, header .main-navigation ul .nav-link .nav-item.active {
  color: var(--primary);
}
header .main-navigation ul .nav-link .nav-item:hover::before, header .main-navigation ul .nav-link .nav-item.active::before {
  right: 0.5rem;
}

@media (min-width: 992px) {
  .page-scrolled {
    --headerHeight: ptr(72);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .page-scrolled {
    --headerHeight: ptr(64);
  }
}
@media (min-width: 992px) {
  .page-scrolled header .logo img {
    height: 2.5rem;
  }
}
/* Sidebar
--------------------------------------------------------------------------------------------------------*/
@media (max-width: 991.98px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15rem;
    background: var(--primary-light);
    padding: 1.5rem 1rem;
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1019607843);
    overflow-y: auto;
    z-index: 3;
    transition: var(--transition-cub);
    margin-left: -15rem;
    display: flex;
    flex-direction: column;
  }
  .sidebar .sidebar-head {
    text-align: center;
    margin-bottom: 2rem;
  }
  .sidebar .sidebar-head .logo {
    padding: 0.25rem;
    margin: 0 auto;
  }
  .sidebar .main-navigation ul {
    flex-direction: column;
    gap: 1.25rem;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    z-index: 2;
    opacity: 0;
    transition: var(--transition-cub);
    visibility: hidden;
  }
  .show-sidebar .sidebar {
    margin-left: 0;
  }
  .show-sidebar .overlay {
    opacity: 1;
    visibility: visible;
  }
  body:has(.show-sidebar) {
    overflow: hidden;
  }
}
/* Footer
--------------------------------------------------------------------------------------------------------*/
.footer {
  background: var(--primary-light);
  padding: 2.8125rem 1rem;
  text-align: center;
}
@media (max-width: 1399.98px) {
  .footer {
    padding: 1rem;
  }
}
@media (max-width: 991.98px) {
  .footer {
    padding: 1rem 0;
  }
}
@media (max-width: 1199.98px) {
  .footer .logo img {
    height: 2.5rem;
  }
}
@media (max-width: 1199.98px) {
  .footer .middle-block {
    max-width: 25rem;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .footer .middle-block {
    width: calc(100% + 24px);
    max-width: calc(100% + 24px);
    margin: 0.625rem -0.75rem 0;
  }
}
.footer .footer-link {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: var(--black);
  text-decoration: none;
}
@media (max-width: 1199.98px) {
  .footer .footer-link {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}
@media (max-width: 575.98px) {
  .footer .footer-link {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer .footer-link:hover {
  color: var(--primary);
}
.footer .footer-link img {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 575.98px) {
  .footer .footer-link img {
    width: 1.25rem;
    height: 1.25rem;
  }
}
.footer .btn-icon {
  padding: 0;
}
.footer .btn-icon img {
  width: 2.25rem;
  height: 2.25rem;
}

/* Main content
--------------------------------------------------------------------------------------------------------*/
.main-content {
  padding-top: var(--headerHeight);
}

/* Hero Section
--------------------------------------------------------------------------------------------------------*/
.hero {
  position: relative;
  z-index: 0;
}
.hero video {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-height: 31.25rem;
}
@media (max-width: 1199.98px) {
  .hero video {
    object-fit: cover;
  }
}

/* Section
--------------------------------------------------------------------------------------------------------*/
.section {
  padding: 3.75rem 0 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 991.98px) {
  .section {
    padding: 3.125rem 0;
  }
}
.section.light-bg {
  background-color: var(--primary-light);
}
.section:has(.details-row) {
  padding-inline: 1.25rem;
}
.section:has(.company-div) {
  padding: 3.75rem 1.25rem;
}
@media (max-width: 991.98px) {
  .section:has(.company-div) {
    padding: 3.125rem 0.625rem;
  }
}
.section .subtitle {
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 0.375rem;
  text-align: center;
}
.section .title {
  font-weight: 600;
  color: var(--primary2);
  margin-bottom: 3.75rem;
  text-align: center;
}
@media (max-width: 991.98px) {
  .section .title {
    margin-bottom: 2.5rem;
  }
}
.section .desc {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: var(--color666666);
}
@media (max-width: 767.98px) {
  .section .desc {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: var(--color666666);
  }
}
.section .desc:not(:last-child) {
  margin-bottom: 1.5rem;
}
.section {
  /* Service style */
}
.section .info-div {
  max-width: 18.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  .section .info-div {
    padding: 0;
  }
}
.section .info-div .img-bg {
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 0px 12px 0px rgba(13, 41, 84, 0.0784313725);
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
@media (max-width: 991.98px) {
  .section .info-div .img-bg {
    width: 5rem;
    height: 5rem;
  }
}
.section .info-div .img-bg img {
  width: 4.5rem;
  height: 4.5rem;
}
@media (max-width: 991.98px) {
  .section .info-div .img-bg img {
    width: 3rem;
    height: 3rem;
  }
}
.section .info-div .service-name {
  color: var(--black);
  font-weight: var(--black);
  margin-bottom: 0.5rem;
}
.section .info-div .details {
  line-height: 1.625rem;
  color: var(--color666666);
}
.section {
  /* Offers style */
}
.section .offers-img-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
}
.section .offers-list {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
@media (max-width: 991.98px) {
  .section .offers-list {
    gap: 1rem;
  }
}
.section .offers-list .offer-detail {
  border: 1px solid rgba(51, 51, 51, 0.1490196078);
  border-radius: 0.5rem;
  padding: 1rem;
}
@media (max-width: 991.98px) {
  .section .offers-list .offer-detail {
    padding: 0.5rem 0.75rem;
  }
}
.section .offers-list .offer-detail .offer-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--color666666);
}
@media (max-width: 991.98px) {
  .section .offers-list .offer-detail .offer-text {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: var(--color666666);
  }
}
.section .offers-list .offer-detail.min-h-115 {
  min-height: 7.1875rem;
}
@media (max-width: 991.98px) {
  .section .offers-list .offer-detail.min-h-115 {
    min-height: auto;
  }
}
.section .g-32p {
  --bs-gutter-x: 32px !important;
  --bs-gutter-y: 32px !important;
}
@media (max-width: 767.98px) {
  .section .g-32p {
    --bs-gutter-x: 24px !important;
    --bs-gutter-y: 24px !important;
  }
}
.section .img-block {
  display: inline-block;
  position: relative;
  width: auto;
}
.section .img-block img {
  position: relative;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .section .img-block .about {
    padding: 0 1.25rem 0 4.375rem;
  }
}
.section .img-block .about-us-pop {
  position: absolute;
  top: -4.9375rem;
  left: -6.125rem;
}
@media (max-width: 767.98px) {
  .section .img-block .about-us-pop {
    top: -3.125rem;
    left: 0rem;
    max-width: 8.125rem;
  }
}
.section .img-block .center-box {
  display: block;
  max-width: 21.125rem;
  margin: 0 auto;
  box-shadow: 0px 8px 16px 0px rgba(27, 60, 116, 0.1215686275);
  background: var(--white);
  border-radius: 0.625rem;
  padding: 1.25rem;
  margin-top: -2.9375rem;
  z-index: 0;
  text-align: center;
  color: var(--primary2);
  transition: var(--transition-ease);
}
@media (max-width: 767.98px) {
  .section .img-block .center-box {
    padding: 1rem;
    max-width: fit-content;
  }
}
.section .img-block .center-box h4 {
  font-weight: 600;
}
.section .img-block .center-box:hover {
  background: var(--primary-light);
}
.section.info-block {
  padding: 3.125rem 0.75rem;
}
.section.info-block .title,
.section.info-block .subtitle {
  text-align: left;
}
@media (max-width: 991.98px) {
  .section.info-block {
    padding: 2.5rem 0.75rem;
  }
}

.info-block-wrapper {
  padding: 3.125rem 0;
}
@media (max-width: 991.98px) {
  .info-block-wrapper {
    padding: 1.25rem 0;
  }
}

/* Location
--------------------------------------------------------------------------------------------------------*/
.location-block {
  padding: 5rem 1rem;
  text-align: center;
  background: var(--primary2);
}
@media (max-width: 1199.98px) {
  .location-block {
    padding: 3.75rem 1rem;
  }
}
@media (max-width: 767.98px) {
  .location-block {
    padding: 3.125rem 1rem;
  }
}
.location-block .subtitle {
  color: var(--primary);
}
.location-block .title {
  color: var(--white);
  max-width: 50rem;
  margin: 0 auto;
}
.location-block .map-bg {
  position: relative;
  padding-bottom: 27.565%;
  width: 100%;
  background: url("./../../images/map-light.svg") no-repeat center center;
  background-size: contain;
  margin: 2.625rem 0 2.5rem;
}
@media (max-width: 991.98px) {
  .location-block .map-bg {
    padding-bottom: 40%;
  }
}
@media (max-width: 575.98px) {
  .location-block .map-bg {
    padding-bottom: 48%;
  }
}
.location-block .map-bg .location {
  position: absolute;
  cursor: pointer;
}
.location-block .map-bg .location img {
  width: 1.875rem;
  height: 1.875rem;
}
.location-block .map-bg .location.italy {
  top: 33.3%;
  left: 48%;
}
.location-block .map-bg .location.turkey {
  top: 34.2%;
  left: 53.2%;
}
.location-block .map-bg .location.saudi-arabia {
  top: 44.2%;
  left: 57.6%;
}
.location-block .map-bg .location.oman {
  top: 45.5%;
  left: 61.4%;
}
.location-block .map-bg .location.brunei {
  top: 56.4%;
  left: 64.8%;
}
.location-block .location-category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.625rem 1.25rem;
}
.location-block .location-category-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--white);
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .location-block .location-category-list li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}
.location-block .location-category-list li::before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-right: 0.375rem;
}
.location-block .location-category-list li.red::before {
  background: var(--red);
}
.location-block .location-category-list li.primary::before {
  background: var(--primary);
}

.location-tooltip {
  --bs-tooltip-bg: var(--white);
  --bs-tooltip-color: var(--primary2);
  --bs-tooltip-arrow-width: 14px;
  --bs-tooltip-arrow-height: 8px;
  --bs-tooltip-border-radius: 8px;
  --bs-tooltip-padding-y: 3px;
  --bs-tooltip-padding-x: 10px;
}

/* Tabs Section
--------------------------------------------------------------------------------------------------------*/
.tab-btns {
  display: flex;
  margin-bottom: 4rem;
  gap: 1.25rem;
}
@media (max-width: 991.98px) {
  .tab-btns {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 575.98px) {
  .tab-btns {
    gap: 0.625rem;
  }
}

/* Hide/Show 
--------------------------------------------------------------------------------------------------------*/
.hide {
  display: none;
}

.show {
  display: block;
}

/* Mark
--------------------------------------------------------------------------------------------------------*/
.mark-img {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  right: 0;
}

/* Mission Section style
--------------------------------------------------------------------------------------------------------*/
.details-row .gradiant-layer {
  position: relative;
  display: block;
  border-radius: 16px;
  min-height: 100%;
}
@media (max-width: 991.98px) {
  .details-row .gradiant-layer {
    max-width: 400px;
    margin: 0 auto;
  }
}
.details-row .gradiant-layer::after {
  content: "";
  position: absolute;
  inset: 0;
  /* shorthand for top/right/bottom/left: 0 */
  background: radial-gradient(58.91% 35.56% at 66.58% 20.96%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 48.89%, rgba(13, 41, 84, 0.5) 96.26%);
  border-radius: 16px;
  pointer-events: none;
}
.details-row .gradiant-layer .mission-img {
  border-radius: 16px;
  object-fit: cover;
  display: block;
  width: 100%;
}
.details-row .text-wrapper {
  border-radius: 1rem;
  background-color: var(--primary2);
  padding: 2.0625rem 2.1875rem;
  min-height: 100%;
}
@media (max-width: 991.98px) {
  .details-row .text-wrapper {
    padding: 1.875rem;
  }
}
@media (max-width: 1199.98px) {
  .details-row .text-wrapper .quote {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 991.98px) {
  .details-row .text-wrapper .quote {
    width: 3.125rem;
  }
}
.details-row .text-wrapper .text {
  padding: 1rem 1.875rem;
}
@media (max-width: 1199.98px) {
  .details-row .text-wrapper .text {
    padding: 0;
  }
}
.details-row .text-wrapper .text .details {
  font-size: 1.5rem;
  line-height: 2.625rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9490196078);
  display: none;
}
@media (max-width: 767.98px) {
  .details-row .text-wrapper .text .details {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
.details-row .text-wrapper .text .details.show {
  display: block;
}
.details-row .text-wrapper .text .highlight {
  font-weight: 600;
}

/* Group of Companies style
--------------------------------------------------------------------------------------------------------*/
.company-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 767.98px) {
  .company-div {
    flex-direction: column;
  }
}
.company-div .company-group-name {
  font-weight: 600;
  color: var(--primary2);
}
@media (max-width: 767.98px) {
  .company-div .company-group-name {
    text-align: center;
  }
}
.company-div .company-links-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}
.company-div .company-links-wrapper .company-link img {
  display: block;
}

/*# sourceMappingURL=style.css.map */
