@use "./typography" as *;
@use "./variable" as *;
@use "./break-points" as *;
@use "./mixin" as *;

/* Controls
--------------------------------------------------------------------------------------------------------*/
.btn {
  border: ptr(1) solid transparent !important;
  outline: none !important;
  box-shadow: none !important;
  position: relative;
  border-radius: ptr(12);
  overflow: hidden;
  font-size: ptr(16);
  line-height: ptr(20);
  font-weight: 500;
  padding: ptr(13) ptr(16);

  &.btn-primary {
    --bs-btn-bg: var(--primary);
    --bs-btn-color: var(--white);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--white);
    --bs-btn-hover-border-color: var(--primary-hover);
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--white);
    --bs-btn-active-border-color: var(--primary-hover);
    --bs-btn-disabled-color: var(--white);
    --bs-btn-disabled-bg: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
    z-index: 1;

    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      bottom: -100%;
      left: 0;
      background: var(--primary-hover);
      z-index: -1;
      transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
      color: var(--primary);
    }

    &::before {
      opacity: 0.5;
    }

    &::after {
      transition-delay: 0.2s;
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }

    &:hover,
    &:focus,
    &:active {

      &::before,
      &::after {
        bottom: 0;
      }
    }

    &:has(img) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: ptr(6);
    }
  }

  &.size-lg {
    font-size: ptr(32);
    line-height: ptr(40);
    padding: ptr(12) ptr(36);

    @include media(xl) {
      font-size: ptr(16);
      line-height: ptr(22);
      padding: ptr(12) ptr(24);
    }
  }

  &.size-sm {
    font-size: ptr(14);
    line-height: ptr(18);
    padding: ptr(8) ptr(16);
  }

  &.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: ptr(9);
    width: ptr(48);
    height: ptr(48);
    border-radius: 50%;

    img {
      width: ptr(24);
      height: ptr(24);
    }

    &.size-lg {
      padding: ptr(10);
      width: ptr(54);
      height: ptr(54);

      img {
        width: ptr(28);
        height: ptr(28);
      }
    }

    &.size-sm {
      padding: ptr(6);
      width: ptr(40);
      height: ptr(40);

      img {
        width: ptr(20);
        height: ptr(20);
      }
    }

    &.btn-text {
      background: none;
      border: none !important;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: ptr(35);
        transform: scale(0);
        transition: var(--transition-ease);
        background: rgba(0, 161, 155, 0.1);
      }

      &:hover {
        &::before {
          transform: scale(1);
        }
      }
    }
  }

  &.btn-text {
    &.tab-btn {
      background: none;
      border: none !important;
      --bs-btn-bg: var(--white);
      border-radius: 35px;
      font-size: ptr(32);
      line-height: ptr(40);
      font-weight: 400;
      color: var(--color666666);
      @include flexbox(center, center);

      @include media (xxl) {
        font-size: ptr(22);
        line-height: ptr(28);
        padding: ptr(10) ptr(16);
      }

      @include media (sm) {
        font-size: ptr(18);
        line-height: ptr(24);
        padding: ptr(6) ptr(10);
      }

      &:hover {
        color: var(--primary);
      }

      &.active {
        --bs-btn-active-bg: var(--primary);
        font-weight: 500;
        color: var(--white);
        background: var(--primary)
      }
    }
  }
}

/* Grid gutters
--------------------------------------------------------------------------------------------------------*/
.g-32p {
  @include custom-gutter(32);

  @include media(lg) {
    @include custom-gutter(16);
  }
}

/* Header
--------------------------------------------------------------------------------------------------------*/
.logo {
  display: inline-block;
  vertical-align: middle;

  img {
    display: block;
    width: auto;
    height: ptr(48);
    max-width: 100%;

    @include media(lg) {
      height: ptr(40);
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: ptr(16) 0;
  background: var(--white);
  box-shadow: 0px 4px 6px 0px #0000001A;
  min-height: var(--headerHeight);
  transition: var(--transition-cub);
  z-index: 2;
  display: flex;
  align-items: center;

  @include media(lg) {
    padding: ptr(8) 0;
  }

  .logo {
    img {
      height: ptr(60);
      transition: var(--transition-cub);

      @include media(xl) {
        height: ptr(48);
      }

      @include media(lg) {
        height: ptr(40);
      }
    }
  }

  .main-navigation {
    ul {
      @include flexbox(center, flex-end, row);
      gap: ptr(10);

      .nav-link {
        background: none;

        .nav-item {
          @include typography(ptr(20),
            ptr(24));
          color: var(--primary2);
          text-decoration: none;
          padding: ptr(8) ptr(10);
          border-radius: ptr(4);
          transition: var(--transition-ease);
          background: none;
          position: relative;

          @include media(xl) {
            @include typography(ptr(16),
              ptr(20));
          }

          &::before {
            content: "";
            position: absolute;
            top: auto;
            bottom: 0;
            left: ptr(8);
            right: 100%;
            height: ptr(2);
            background: var(--primary);
            transition: var(--transition-ease);
            z-index: 0;
            opacity: 0.5;
          }

          &:hover,
          &.active {
            color: var(--primary);

            &::before {
              right: ptr(8);
            }
          }
        }
      }
    }
  }
}

@include media(lg, min) {
  .page-scrolled {
    --headerHeight: ptr(72);

    @include media(xl) {
      --headerHeight: ptr(64);
    }

    header {
      .logo {
        img {
          height: ptr(40);
        }
      }
    }
  }
}

/* Sidebar
--------------------------------------------------------------------------------------------------------*/
@include media(lg) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: ptr(240);
    background: var(--primary-light);
    padding: ptr(24) ptr(16);
    box-shadow: 2px 0px 6px 0px #0000001A;
    overflow-y: auto;
    z-index: 3;
    transition: var(--transition-cub);
    margin-left: ptr(-240);
    display: flex;
    flex-direction: column;

    .sidebar-head {
      text-align: center;
      margin-bottom: ptr(32);

      .logo {
        padding: ptr(4);
        margin: 0 auto;
      }
    }

    .main-navigation {
      ul {
        flex-direction: column;
        gap: ptr(20);
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    z-index: 2;
    opacity: 0;
    transition: var(--transition-cub);
    visibility: hidden;
  }

  .show-sidebar {
    .sidebar {
      margin-left: 0;
    }

    .overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  body:has(.show-sidebar) {
    overflow: hidden;
  }
}

/* Footer
--------------------------------------------------------------------------------------------------------*/
.footer {
  background: var(--primary-light);
  padding: ptr(45) ptr(16);
  text-align: center;

  @include media(xxl) {
    padding: ptr(16);
  }

  @include media(lg) {
    padding: ptr(16) 0;
  }

  .logo {
    img {
      @include media(xl) {
        height: ptr(40);
      }
    }
  }

  .middle-block {
    @include media(xl) {
      max-width: ptr(400);
      margin: 0 auto
    }

    @include media(md) {
      width: calc(100% + 24px);
      max-width: calc(100% + 24px);
      margin: ptr(10) ptr(-12) 0;
    }
  }

  .footer-link {
    @include typography(ptr(18),
      ptr(24));
    @include flexbox(center, flex-start, row);
    gap: ptr(8);
    color: var(--black);
    text-decoration: none;

    @include media(xl) {
      @include typography(ptr(16),
        ptr(24));
    }

    @include media(sm) {
      @include typography(ptr(14),
        ptr(20));
    }

    &:hover {
      color: var(--primary);
    }

    img {
      width: ptr(24);
      height: ptr(24);

      @include media(sm) {
        width: ptr(20);
        height: ptr(20);
      }
    }
  }

  .btn-icon {
    padding: 0;

    img {
      width: ptr(36);
      height: ptr(36);
    }
  }
}

/* Main content
--------------------------------------------------------------------------------------------------------*/
.main-content {
  padding-top: var(--headerHeight);
}

/* Hero Section
--------------------------------------------------------------------------------------------------------*/
.hero {
  position: relative;
  // padding-bottom: 54.718%; // height 760px for 1560px760
  // padding-bottom: 48.718%; // height 760px for 1560px760
  // padding-bottom: 45.385%; // height 708px for 1560px
  z-index: 0;

  video {
    // position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    min-height: ptr(500);

    @include media(xl) {
      object-fit: cover;
    }
  }
}

/* Section
--------------------------------------------------------------------------------------------------------*/
.section {
  padding: ptr(60) 0 ptr(100);
  @include flexbox(center, center, column);
  position: relative;

  @include media (lg) {
    padding: ptr(50) 0;
  }

  &.light-bg {
    background-color: var(--primary-light);
  }

  &:has(.details-row) {
    padding-inline: ptr(20);
  }

  &:has(.company-div) {
    padding: ptr(60) ptr(20);

    @include media (lg) {
      padding: ptr(50) ptr(10);
    }
  }

  .subtitle {
    font-weight: 500;
    color: var(--primary);
    margin-bottom: ptr(6);
    text-align: center;
  }

  .title {
    font-weight: 600;
    color: var(--primary2);
    margin-bottom: ptr(60);
    text-align: center;

    @include media (lg) {
      margin-bottom: ptr(40);
    }
  }

  .desc {
    @include typography(ptr(18),
      ptr(26), 400, var(--color666666));

    @include media(md) {
      @include typography(ptr(16),
        ptr(28), 400, var(--color666666));
    }

    &:not(:last-child) {
      margin-bottom: ptr(24);
    }
  }

  /* Service style */
  .info-div {
    max-width: ptr(294);
    @include flexbox(center, center, column);
    text-align: center;
    padding: 0 ptr(16);
    margin: 0 auto;

    @include media (xl) {
      padding: 0;
    }

    .img-bg {
      background-color: var(--white);
      border-radius: 50%;
      box-shadow: 0px 0px 12px 0px #0D295414;
      width: ptr(128);
      height: ptr(128);
      @include flexbox(center, center);
      margin-bottom: ptr(24);

      @include media (lg) {
        width: ptr(80);
        height: ptr(80);
      }

      img {
        width: ptr(72);
        height: ptr(72);

        @include media (lg) {
          width: ptr(48);
          height: ptr(48);
        }
      }
    }

    .service-name {
      color: var(--black);
      font-weight: var(--black);
      margin-bottom: ptr(8);
    }

    .details {
      line-height: ptr(26);
      color: var(--color666666);
    }
  }

  /* Offers style */
  .offers-img-div {
    @include flexbox(center, center);
    border-radius: 16px;
    overflow: hidden;
  }

  .offers-list {
    display: flex;
    flex-direction: column;
    gap: ptr(30);

    @include media (lg) {
      gap: ptr(16);
    }

    .offer-detail {
      border: 1px solid #33333326;
      border-radius: ptr(8);
      padding: ptr(16);

      @include media (lg) {
        padding: ptr(8) ptr(12);
      }

      .offer-text {
        @include typography(ptr(18),
          ptr(28),
          400,
          var(--color666666));

        @include media (lg) {
          @include typography(ptr(18),
            ptr(26),
            400,
            var(--color666666));
        }
      }

      &.min-h-115 {
        min-height: ptr(115);

        @include media (lg) {
          min-height: auto;
        }
      }
    }
  }


  .g-32p {
    --bs-gutter-x: 32px !important;
    --bs-gutter-y: 32px !important;

    @include media(md) {
      --bs-gutter-x: 24px !important;
      --bs-gutter-y: 24px !important;
    }
  }

  .img-block {
    display: inline-block;
    position: relative;
    width: auto;

    img {
      position: relative;
      z-index: -1;
    }

    .about {
      @include media(md) {
        padding: 0 ptr(20) 0 ptr(70);
      }
    }

    .about-us-pop {
      position: absolute;
      top: ptr(-79);
      left: ptr(-98);

      @include media(md) {
        top: ptr(-50);
        left: ptr(0);
        max-width: ptr(130);
      }
    }

    .center-box {
      display: block;
      max-width: ptr(338);
      margin: 0 auto;
      box-shadow: 0px 8px 16px 0px #1B3C741F;
      background: var(--white);
      border-radius: ptr(10);
      padding: ptr(20);
      margin-top: ptr(-47);
      z-index: 0;
      text-align: center;
      color: var(--primary2);
      transition: var(--transition-ease);

      @include media(md) {
        padding: ptr(16);
        max-width: fit-content;
      }

      h4 {
        font-weight: 600;
      }

      &:hover {
        background: var(--primary-light);
      }
    }
  }

  &.info-block {
    padding: ptr(50) ptr(12);

    .title,
    .subtitle {
      text-align: left;
    }

    @include media(lg) {
      padding: ptr(40) ptr(12);
    }
  }
}

.info-block-wrapper {
  padding: ptr(50) 0;

  @include media(lg) {
    padding: ptr(20) 0;
  }
}

/* Location
--------------------------------------------------------------------------------------------------------*/
.location-block {
  padding: ptr(80) ptr(16);
  text-align: center;
  background: var(--primary2);

  @include media(xl) {
    padding: ptr(60) ptr(16);
  }

  @include media(md) {
    padding: ptr(50) ptr(16);
  }

  .subtitle {
    color: var(--primary);
  }

  .title {
    color: var(--white);
    max-width: ptr(800);
    margin: 0 auto;
  }

  .map-bg {
    position: relative;
    padding-bottom: 27.565%;
    width: 100%;
    background: url('./../../images/map-light.svg') no-repeat center center;
    background-size: contain;
    margin: ptr(42) 0 ptr(40);

    @include media(lg) {
      padding-bottom: 40%;
    }

    @include media(sm) {
      padding-bottom: 48%;
    }

    .location {
      position: absolute;
      cursor: pointer;

      img {
        width: ptr(30);
        height: ptr(30);
      }

      &.italy {
        top: 33.3%;
        left: 48%;
      }

      &.turkey {
        top: 34.2%;
        left: 53.2%;
      }

      &.saudi-arabia {
        top: 44.2%;
        left: 57.6%;
      }

      &.oman {
        top: 45.5%;
        left: 61.4%;
      }

      &.brunei {
        top: 56.4%;
        left: 64.8%;
      }
    }
  }

  .location-category-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: ptr(10) ptr(20);

    li {
      @include flexbox(center, center, row);
      @include typography(ptr(18),
        ptr(24));
      color: var(--white);
      font-weight: 400;

      @include media(md) {
        @include typography(ptr(16),
          ptr(24));
      }

      &::before {
        content: "";
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: ptr(12);
        height: ptr(12);
        border-radius: 50%;
        margin-right: ptr(6);
      }

      &.red {
        &::before {
          background: var(--red);
        }
      }

      &.primary {
        &::before {
          background: var(--primary);
        }
      }
    }
  }
}

.location-tooltip {
  --bs-tooltip-bg: var(--white);
  --bs-tooltip-color: var(--primary2);
  --bs-tooltip-arrow-width: 14px;
  --bs-tooltip-arrow-height: 8px;
  --bs-tooltip-border-radius: 8px;
  --bs-tooltip-padding-y: 3px;
  --bs-tooltip-padding-x: 10px;
}

/* Tabs Section
--------------------------------------------------------------------------------------------------------*/
.tab-btns {
  display: flex;
  margin-bottom: ptr(64);
  gap: ptr(20);

  @include media (lg) {
    margin-bottom: ptr(30);
  }

  @include media (sm) {
    gap: ptr(10);
  }
}

/* Hide/Show 
--------------------------------------------------------------------------------------------------------*/
.hide {
  display: none;
}

.show {
  display: block;
}

/* Mark
--------------------------------------------------------------------------------------------------------*/
.mark-img {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  right: 0;
}

/* Mission Section style
--------------------------------------------------------------------------------------------------------*/
.details-row {

  .gradiant-layer {
    position: relative;
    display: block;
    border-radius: 16px;
    min-height: 100%;
    @include media (lg) {
      max-width: 400px;
      margin: 0 auto;

    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      /* shorthand for top/right/bottom/left: 0 */
      background: radial-gradient(58.91% 35.56% at 66.58% 20.96%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 48.89%, rgba(13, 41, 84, 0.5) 96.26%);
      border-radius: 16px;
      pointer-events: none;
    }


    .mission-img {
      border-radius: 16px;
      object-fit: cover;
      display: block;
      width: 100%;

      @include media (lg) {
      }
    }
  }

  .text-wrapper {
    border-radius: ptr(16);
    background-color: var(--primary2);
    padding: ptr(33) ptr(35);
    min-height: 100%;
    @include media (lg) {
      padding: ptr(30);
    }

    .quote {
      @include media (xl) {
        margin-bottom: ptr(10);
      }

      @include media (lg) {
        width: ptr(50);
      }
    }

    .text {
      padding: ptr(16) ptr(30);

      @include media (xl) {
        padding: 0;
      }

      .details {
        @include typography(ptr(24),
          ptr(42),
          300,
          #FFFFFFF2);
        display: none;

        @include media(md) {

          font-size: ptr(20);
          line-height: ptr(32);
        }
      }

      .details.show {
        display: block;
      }

      .highlight {
        font-weight: 600;
      }
    }
  }
}

/* Group of Companies style
--------------------------------------------------------------------------------------------------------*/
.company-div {
  @include flexbox(center, space-between);
  gap: ptr(30);

  @include media (md) {
    flex-direction: column;
  }

  .company-group-name {
    font-weight: 600;
    color: var(--primary2);

    @include media (md) {
      text-align: center
    }
  }

  .company-links-wrapper {
    @include flexbox(center, center);
    gap: ptr(30);

    .company-link {
      img {
        display: block;
      }
    }
  }
}