<div class="container-xl">
    <div class="row justify-content-between align-items-center">
        <div class="col-auto order-1">
            <a href="#" class="logo">
                <img src="images/logo.svg" alt="Page JSI Company">
            </a>
        </div>
        <div class="col-md order-md-2 order-3">
            <div class="row justify-content-xl-center justify-content-md-start gx-xl-5 gx-md-4 gy-xl-0 gy-2 middle-block">
                <div class="col-auto">
                    <a href="mailto:Sales@pagejsi.com" title="Sales@pagejsi.com" class="footer-link">
                        <img src="images/mail-primary.svg" alt="Mail">
                        Sales@pagejsi.com
                    </a>
                </div>
                <div class="col-auto">
                    <a href="tel:+966557501863" title="+966 557 501 863" class="footer-link">
                        <img src="images/phone-call-primary.svg" alt="Phone">
                        +966 557 501 863
                    </a>
                </div>
                <div class="col-xl-auto col-12">
                    <a href="https://www.google.com/maps/dir//Baseel+Tower+3%C2%B0+Floor,+Olaya,+Al+Khobar+34447/@23.0457344,72.5057536,14z?entry=ttu&g_ep=EgoyMDI1MTAyNy4wIKXMDSoASAFQAw%3D%3D"
                        title="Baseel Tower 3° Floor, Olaya, Al Khobar 34447" class="footer-link">
                        <img src="images/location-primary.svg" alt="Location">
                        Baseel Tower 3° Floor, Olaya, Al Khobar 34447
                    </a>
                </div>
            </div>
        </div>
        <div class="col-auto order-md-3 order-2">
            <button type="button" class="btn btn-icon btn-text" id="scrollToTop">
                <img src="images/scroll-to-top-primary.svg" alt="Scroll To Top">
            </button>
        </div>
    </div>
</div>