<div class="container-xl">
    <div class="row justify-content-between align-items-center">
        <div class="col-auto">
            <a href="/" class="logo">
                <img src="images/logo.svg" alt="Page JSI Company">
            </a>
        </div>
        <div class="col d-flex justify-content-end align-items-center">

            <!-- sidebar start -->
            <aside class="sidebar">
                <div class="sidebar-head d-lg-none d-inline-block">
                    <a href="/" class="logo">
                        <img src="images/logo.svg" alt="Page JSI Company">
                    </a>
                </div>
                <nav class="main-navigation">
                    <ul>
                        <li class="nav-link">
                            <a href="#WhoWeAre" class="nav-item" title="Who We Are">Who We Are</a>
                        </li>
                        <li class="nav-link">
                            <a href="#AboutUs" class="nav-item" title="About Us">About Us</a>
                        </li>
                        <li class="nav-link">
                            <a href="#Services" class="nav-item" title="Services">Services</a>
                        </li>
                        <li class="nav-link">
                            <a href="#WhyChooseUs" class="nav-item" title="Why Choose Us">Why Choose Us</a>
                        </li>
                        <li class="nav-link">
                            <a href="#Mission" class="nav-item" title="Mission">Mission</a>
                        </li>
                        <li class="nav-link">
                            <a href="#ContactUs" class="nav-item" title="Contact Us">Contact Us</a>
                        </li>
                    </ul>
            </aside>
            <!-- sidebar end -->

            <button type="button" class="btn btn-icon btn-light d-lg-none d-flex" id="toggleMenu">
                <img src="images/menu.svg" alt="Menu">
            </button>

            <!-- overlay -->
            <a href="#" class="overlay" id="OverLayer"></a>
        </div>
    </div>
</div>